@use "sass:map" as map;

/***************
    COLORS
****************/
// PRIMARY
$_primary: #673de6;
$_primary-dark: #5025d1;
$_primary-light: #ebe4ff;

// 000WEBHOST
$_webhost-primary: #ff5c62;

// REDS
$_danger-dark: #d63163;
$_danger: #fc5185;
$_danger-light: #ffe8ef;

// GREENS
$_success-dark: #008361;
$_success: #00b090;
$_success-light: #def4f0;

// YELLOWS
$_warning-dark: #fea419;
$_warning: #ffcd35;
$_warning-light: #fff8e2;

// BLUES
$_meteorite: #8c85ff;
$_meteorite-light: #d5dfff;
$_meteorite-dark: #2f1c6a;
$_periwinkle: #c5cde9;
$_spindle: #b6bdd3;
$_white-blue: #f4f5ff;

// GRAYS
$_gray: #727586;
$_gray-light: #f2f3f6;
$_gray-dark: #36344d;
$_white: #ffffff;
$_dark: #1d1e20;
$_manatee: #8c93a9;
$_gray-border: #dadce0;
$_ghost-white: #fafbff;
$_black: #000000;

/***************
    GRADIENTS
****************/
$_dark-header: linear-gradient(
  180deg,
  #4816af 0%,
  #6233df 48.96%,
  #849bff 95.83%,
  #849bff 95.84%
);
$_dark-header-low-contrast: linear-gradient(
  43.48deg,
  #4312a5 -3.88%,
  #6233df 32.32%,
  #849bff 137.32%
);
$_light-header: linear-gradient(
  21.47deg,
  #d0d8f5 -14.07%,
  #f4f5ff 46.4%,
  #ffffff 156.29%
);

/***************
    MAPS
****************/
$_colors: (
  "primary": (
    base: $_primary,
    light: $_primary-light,
    dark: $_primary-dark,
  ),
  "success": (
    base: $_success,
    light: $_success-light,
    dark: $_success-dark,
  ),
  "danger": (
    base: $_danger,
    light: $_danger-light,
    dark: $_danger-dark,
  ),
  "warning": (
    base: $_warning,
    light: $_warning-light,
    dark: $_warning-dark,
  ),
  "meteorite": (
    base: $_meteorite,
    light: $_meteorite-light,
    dark: $_meteorite-dark,
  ),
  "gray": (
    base: $_gray,
    light: $_gray-light,
    dark: $_gray-dark,
    border: $_gray-border,
    manatee: $_manatee,
  ),
  "webhost": (
    base: $_webhost-primary,
  ),
  "white": (
    base: $_white,
    ghost: $_ghost-white,
    blue: $_white-blue,
  ),
  "blue": (
    spindle: $_spindle,
    periwinkle: $_periwinkle,
  ),
  "dark": (
    base: $_dark,
  ),
  "black": (
    base: $_black,
  ),
);

$_gradients: (
  primary: (
    base: $_dark-header,
    low-contrast: $_dark-header-low-contrast,
    light: $_light-header,
  ),
);

/*********************************************
    Used for getting Color insede property
    Only for use in SASS
**********************************************/
@function get($base, $shade: base) {
  @if map.has-key($_colors, $base) {
    @if map.has-key(map.get($_colors, $base), $shade) {
      $color: map.get(map.get($_colors, $base), $shade);
      @return $color;
    }
    @error "There is no such shade (#{$shade}) specifiet in #{$base} color.";
  }
  @error "There is no such color (#{$base}) specifiet in $_colors map.";
}

/*********************************************
    For Color and Gradien helpers (utilities)
**********************************************/
@mixin cycle-through-map($map) {
  @each $name, $inner-map in $map {
    @each $variation, $property in $inner-map {
      $variation-name: "";
      @if $variation != "base" {
        $variation-name: "-" + $variation;
      }
      @content ($name, $variation-name, $property);
    }
  }
}
@mixin generate-base() {
  @include cycle-through-map($_colors) using ($color-name, $shade-name, $color) {
    .text-h-#{$color-name}#{$shade-name} {
      color: $color;
    }
    .#{$color-name}#{$shade-name} {
      background-color: $color;
    }
  }
}
@mixin generate-gradient() {
  @include cycle-through-map($_gradients) using ($name, $variation, $gradient) {
    .bg-h-#{$name}#{$variation} {
      background-image: $gradient;
    }
  }
}

/***************
  COLORS
****************/
$colors: (
  "loader": #aaa,
  "loader-secondary": #ccc,
  "primaryText": #1d1e20,
  "secondaryText": #727586,
  "light-text": #b2b1c5,
  "border-color": #dad9da,
  "light-background": #f2f3f7,
  "box-border": #dad9da,
  "success": #00b090,
  "success-dark": #008361,
  "success-light": #def4f0,
  "warning-dark": #fea419,
  "info": #36a3f7,
  "warning": #fea419,
  "warning-regular": #ffcd35,
  "warning-light": #fff8e2,
  "danger": #fc5185,
  "danger-light": #ffe8ef,
  "danger-dark": #d63163,
  "light": #ffffff,
  "dark-white": #f4f7fc,
  "darken-light": #f8f8f8,
  "meteorite-dark": #2f1c6a,
  "meteorite": #8c85ff,
  "meteorite-light": #d5dfff,
  "form-darken-bg": #f4f5f8,
  "gray": #727586,
  "gray-light": #f2f3f6,
  "gray-dark": #343a40,
  "gray-border": #dadce0,
  "black": #000000,
  "dark": #1d1e20,
  "header-bg": #36344d,
);
/*********************************************
  Used for getting Theme
**********************************************/
@function themed($key) {
  @return map-get($colors, $key);
}
